.naglowek {
    display: flex;
    flex-direction: row;
    background-color: rgb(162, 191, 207);
    text-align: center;
    min-height: 150px;
    min-width: 150px;
    align-items: center;
    text-shadow: 2px 2px #ffffff;
    align-items: center;
    justify-content: space-between;
}
.naglowek .prawo {
    display: flex;
    align-items: center;
    padding-left: 100px;
} 
a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}